
/*
Paleta verde:
https://coolors.co/palette/007f5f-2b9348-55a630-80b918-aacc00-bfd200-d4d700-dddf00-eeef20-ffff3f
/*
Icons:
https://icons.getbootstrap.com/icons/cart-fill/
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #FFFF3F;
}

i{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #007F5F;
    padding: 25px 60px;
    margin-bottom: 30px;
}

.cart{
    position: relative;
    background-color: #FFFF3F;
    color: #007F5F;
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
}

.cartAmount{
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 3px;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    background-color: #BFD200;
}

/*Intens style below*/

.shop{
    display:grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
}

@media (max-width: 1000px){
    .shop{
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px){
    .shop{
        grid-template-columns: repeat(1, 223px);
    }
}

.item{
    border: 2px solid #55A630;
    border-radius: 4px;
    background-color: #fff;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:10px;
}

.price-quantity{
    display: flex;
    justify-content: space-between;
}

.buttons{
    display: flex;
    gap: 8px;
    font-size: 16px;
}

.bi-dash-lg{
    color: #AACC00;
}

.bi-plus-lg{
    color:#007F5F;
}

.text-center{
    text-align: center;
    margin-bottom: 20px;
    color:#007F5F;
}

.Home, 
.checkout,
.removeAll{
    background-color: #007F5F;
    color:white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.checkout{
    background-color: #55A630;
}

.removeAll{
    background-color: #007F5F;
}

.bi-x-lg{
    color:#007F5F;
    font-weight: bold;
}

.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}

.cart-item{
    border: 2px solid #55A630;
    border-radius: 5px;
    display: flex;
}

.title-price-x{
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-price{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price{
    background-color: #80B918;
    color: white;
    border-radius: 4px;
}
