/* 
Paleta do projeto:
https://coolors.co/palette/d6d9ce-f3dad8-f4c3c2-f1b5cb-e88eed 
*/

/*
Icons:
https://icons.getbootstrap.com/icons/cart-fill/
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

i{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #f1b5cb;
    padding: 25px 60px;
    margin-bottom: 30px;
}

.cart{
    position: relative;
    background-color: #fff;
    color: #f1b5cb;
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
}

.cartAmount{
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 3px;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    background-color: #E88EED;
}

/*Intens style below*/

.shop{
    display:grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
}

@media (max-width: 1000px){
    .shop{
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px){
    .shop{
        grid-template-columns: repeat(1, 223px);
    }
}

.item{
    border: 2px solid #E88EED;
    border-radius: 4px;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:10px;
}

.price-quantity{
    display: flex;
    justify-content: space-between;
}

.buttons{
    display: flex;
    gap: 8px;
    font-size: 16px;
}

.bi-dash-lg{
    color: #F4C3C2;
}

.bi-plus-lg{
    color:#f1b5cb;
}

.text-center{
    text-align: center;
    margin-bottom: 20px;
}

.Home{
    background-color: #E88EED;
    color:white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}